# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Testing & caches
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# OS / Editor files
.DS_Store
.vscode/
.idea/
*.swp
*.swo
# Datasets
data/
*.tar.gz
